.register_section,
.login_section {
    background-color: rgb(113, 150, 113);
}

.password_show_btn {
    position: absolute;
    z-index: 999;
    top: 3px;
    right: 10px;
    font-size: 20px;
}

/* Hide number input spinners in Chrome, Safari, Edge */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide number input spinners in Firefox */
input[type=number] {
    -moz-appearance: textfield;
}