.package_card {
    width: 100%;
    min-height: 400px;
    max-width: 400px;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
}

.package_card_price_cartegory {
    color: black;
    font-family: var(--primary-fonts);
    font-weight: 400;
    font-size: 18px;
}

.package_price {
    color: var(--primary-color);
    font-family: var(--secondary-fonts);
    font-weight: 900;
    font-size: 35px;
    letter-spacing: 1px;
}

.package_price>sub {
    color: black;
    font-family: var(--secondary-fonts);
    font-weight: 400;
    font-size: 16px;
}

.package_modules_list {
    color: black;
    font-family: var(--primary-fonts);
    font-weight: 400;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px 0;
}