.tools_details_section {
    width: 100%;
    padding: 80px 0;
}

.tools_details_img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
}

.tools_details_title {
    color: var(--primary-color);
    font-size: 35px;
    font-weight: 600;
    font-family: var(--primary-fonts);
    text-transform: capitalize;
    letter-spacing: 1px;
}

.tools_details_short_description {
    color: black;
    font-size: 15px;
    font-weight: 400;
    font-family: var(--primary-fonts);
    text-transform: capitalize;
    letter-spacing: 1px;
    padding-bottom: 20px;
}

.tools_details_section_tagline {
    color: black;
    font-size: 18px;
    font-weight: 600;
    font-family: var(--primary-fonts);
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.tools_details_section_tagline_icon {
    color: var(--primary-color);
    font-size: 18px;
}

.additional_details_list {
    color: black;
    font-size: 15px;
    font-weight: 400;
    font-family: var(--primary-fonts);
    text-transform: capitalize;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.tools_details_packages {
    width: 100%;
    padding: 20px 0 50px 0;
}

.tools_details_description {
    width: 100%;
    padding: 20px 0 50px 0;
}

.tools_details_long_description {
    color: black;
    font-size: 15px;
    font-weight: 400;
    font-family: var(--primary-fonts);
    text-transform: capitalize;
    letter-spacing: 1px;
    padding-bottom: 20px;
    text-align: justify;
    hyphens: auto;
}

.tools_details_contact_support {
    color: black;
    font-size: 18px;
    font-weight: 600;
    font-family: var(--primary-fonts);
    text-transform: capitalize;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 10px;
}

.tools_details_contact_support_btn {
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--primary-fonts);
    text-transform: capitalize;
    letter-spacing: 2px;
    text-align: center;
    background-color: var(--primary-color);
    padding: 8px 16px;
    display: inline-block;
}